:root {
  /* Colors */
  --primary: rgb(0, 37, 73);
  --secondary: rgb(198, 249, 246);
  --cta: rgb(27, 61, 199);
  --bg: rgb(221, 221, 221);
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--sans-serif);
  color: var(--primary);
  letter-spacing: 1px;
}

.classic__container {
  display: inherit;
  margin: 0 auto;
  width: 100%;
  max-width: 1040px;
}

/*---------------HERO -------------------*/
.classic__hero {
  position: relative;
  background: url(https://images.unsplash.com/photo-1477959858617-67f85cf4f1df?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1413&q=80);
  background-size: cover;
  background-position: center;
  min-width: 100%;
  min-height: 600px;
}

.classic__hero--cover {
  position: absolute;
  bottom: 0;
  top: 0;
  width: 100%;
  background-image: linear-gradient(
    to bottom right,
    rgba(0, 37, 73, 0.9),
    rgba(0, 0, 0, 0.5)
  );
}

.classic__hero--content {
  display: flex;
  flex-direction: column-reverse;
  height: 600px;
}

.classic__hero--info {
  align-self: end;
  margin-bottom: 4em;
}

.classic__hero--logo {
  height: 100px;
  margin-bottom: 2em;
}

.classic__hero--title {
  margin: 0;
  padding: 1.5rem 0;
  font-size: 80px;
  font-family: var(--sans-serif);
  color: var(--secondary);
  border-top: 5px solid;
  line-height: 1;
  letter-spacing: -1px;
  font-weight: 500;
}

.classic__location--icon,
.classic__date--icon {
  padding: 0 1em;
  border-right: 1px solid;
}

.classic__location--icon img,
.classic__date--icon img {
  width: 16px;
}

.classic__location--place,
.classic__date--starts {
  margin: 0 1em;
}

.classic__hero--details-location {
  display: flex;
  align-items: center;
  border-top: 1px solid;
  color: var(--secondary);
  padding: 1em 0;
}

.classic__main--details-date {
  display: flex;
  align-items: center;
  border-top: 1px solid;
  border-bottom: 1px solid;
  color: var(--secondary);
  padding: 1em 0;
}

.classic__main--details-cta {
  display: flex;
  flex-direction: row-reverse;
}

.classic__main--details-cta a {
  padding: 1em 3em;
  margin-top: 2em;
  background-color: var(--cta);
  border: 1px solid var(--cta);
  color: var(--secondary);
  text-transform: uppercase;
  text-decoration: none;
}

.classic__main--details-cta a:hover {
  background-color: transparent;
  border: 1px solid var(--secondary);
}

.classic__edit-button {
  position: absolute;
  display: flex;
  justify-self: right;
  background-color: var(--yellow);
  border: 0;
  box-shadow: var(--shadow);
  border-radius: 12px;
  padding: var(--space);
  color: var(--blue);
  text-transform: capitalize;
  margin-top: -3em;
}

/*---------------SUMMARY -------------------*/

.classic__summary--container {
  display: flex;
}

.classic__summary {
  padding: 6% 0;
  background-color: var(--bg);
}

.classic__summary--title {
  font-size: 2em;
  font-weight: 500;
}

.classic__summary--logo img {
  height: 300px;
  margin-right: 60px;
  margin-top: 30px;
}

.classic__summary--content p {
  font-size: 1.2em;
  letter-spacing: 1px;
  line-height: 1.5;
}

.classic__speakers {
  padding: 6% 0;
  background-color: var(--secondary);
}

.classic__speakers--title {
  color: var(--cta);
  font-size: 2em;
  font-weight: 500;
}

.classic__speakers--list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: white;
}

.classic__speakers--list-item {
  padding: 1em;
}

.classic__speakers--list-photo {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.classic__speakers--list-item hr {
  width: 30px;
  margin: 1.5em 0;
  border-top: 1px solid var(--cta);
}

.classic__speakers--list-name {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  font-weight: 500;
}

.classic__speakers--list-position {
  font-size: 0.8em;
  font-weight: 500;
  margin-bottom: 1em;
}

.classic__speakers--list-description {
  font-size: 0.8em;
}

.classic__schedule {
  padding: 6%;
  background-color: var(--bg);
}

.classic__schedule--title {
  font-size: 2em;
  font-weight: 500;
}

.classic__schedule--list-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: 1px solid;
  padding: 1em 0;
}

.classic__partners {
  padding: 6% 0;
}

.classic__partners--title {
  color: var(--cta);
  font-size: 2em;
  font-weight: 500;
}

.classic__partners--description {
  margin-bottom: 4em;
}

.classic__partners--description p {
  font-size: 1.2em;
  letter-spacing: 1px;
  line-height: 1.5;
}

.classic__partners--logo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2em;
}

.classic__logo--item {
  justify-self: center;
}

.classic__logo--item-img {
  height: 130px;
}

.classic__about {
  display: grid;
  grid-template-columns: 50% 50%;
  position: relative;
}

.classic__about--content {
  background-color: var(--cta);
  color: var(--secondary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10%;
}

.classic__about--title {
  font-size: 2em;
  font-weight: 500;
}

.classic__about--description {
  line-height: 1.8;
  font-size: 0.8em;
  letter-spacing: 2px;
}

.classic__about--cover {
  display: flex;
}

.classic__about--cover-img {
  width: 100%;
}

.classic__cta {
  background-color: var(--secondary);
  display: flex;
  align-items: center;
  height: 350px;
}

.classic__cta--info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.classic__cta--info h3 {
  color: var(--cta);
  font-size: 2em;
  font-weight: 500;
  letter-spacing: 1px;
}

.classic__cta--info a {
  background-color: var(--cta);
  color: var(--secondary);
  padding: 1em 2em;
  border: 1px solid var(--cta);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  display: inline-block;
}

.classic__cta--info a:hover {
  background-color: transparent;
  color: var(--cta);
}

.classic__footer {
  display: flex;
  background-color: var(--primary);
  height: 100px;
}

.classic__footer__logo {
  width: 180px;
}

.classic__footer-content {
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-weight: 100;
  font-size: 14px;
}

@media (max-width: 425px) {
  .classic__hero,
  .classic__hero--content {
    min-height: 90vh;
  }

  .classic__hero--info {
    margin-bottom: 2em;
  }
  .classic__summary--container {
    display: block;
    padding: 1em;
  }

  .classic__summary--logo img {
    margin: 0;
    height: 200px;
  }

  .classic__summary--content p,
  .classic__speakers--list-description,
  .classic__partners--description,
  .classic__about__description {
    text-align: justify;
    letter-spacing: 0;
    line-height: 1.75;
  }

  .classic__speakers--list,
  .classic__schedule--list-item,
  .classic__partners--logo,
  .classic__about {
    grid-template-columns: auto;
  }

  .classic__schedule--list-item {
    grid-gap: 1em;
  }

  .classic__schedule--item-topic {
    font-weight: 600;
  }

  .classic__about--content {
    padding: 10%;
  }

  .classic__about--title {
    margin: 0;
  }

  .classic__footer {
    height: auto;
  }

  .classic__footer--content {
    flex-direction: column;
    padding: 2em 0;
  }
}
