.diffusion {
  padding-bottom: 80px;
}

.diffusion__content {
  padding: calc(var(--space) * 2) 0;
}

.diffusion__content--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.diffusion__title {
  font-size: var(--featured-text);
  color: var(--blue);
  margin-bottom: var(--space);
}

.diffusion__button {
  width: 200px;
  background-color: var(--yellow);
  border: 0;
  box-shadow: var(--shadow);
  border-radius: 12px;
  padding: var(--space);
  color: var(--blue);
  text-transform: capitalize;
}

.diffusion__content {
  padding: calc(var(--space) * 2) 0;
}

.diffusion__list {
  width: 100%;
  color: var(--gray);
}

.diffusion__list th {
  font-size: var(--featured-text);
  font-weight: 300;
  color: var(--blue);
  text-align: left;
}
