@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mada:wght@400;500;700&display=swap");

:root {
  /* Colors: */
  --purple: #53297c;
  --white: #ffffff;
  --yellow: #ffbf00;
  --orange: #f17e12;
  --blue: #353d8c;
  --red: #e1353a;
  --orange-secondary: #ed6a0f;
  --gray: #b7b4b4;
  --positive: #3bc74a;
  --negative: #ee1b1b;
  --black: #171517;
  --background-cta: #eee9f2;

  /* Typography */
  --font-family: "Red Hat Display", sans-serif;
  --sans-serif: "Mada", sans-serif;
  --xl: 3.5em;
  --title: 3em;
  --subtitle: 2.5em;
  --little--subtitle: 2em;
  --featured-text: 1.5em;
  --small-text: 0.75em;

  --line-spacing: 1.4em;

  /* Space units */
  --space: 10px;

  /* Shadows */
  --shadow: 0px 3px 6px #00000029;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

.container {
  display: inherit;
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
}

.button {
  font-family: var(--font-family);
  font-weight: 500;
  background-color: var(--yellow);
  border-radius: 0.5em;
  text-decoration: none;
  box-shadow: var(--shadow);
}

.button:hover {
  background-color: var(--red);
  color: var(--white);
  cursor: pointer;
}

@media (max-width: 1024px) {
  .container {
    padding: 0 1em;
  }
}

@media (max-width: 425px) {
  .header__nav {
    display: none;
  }

  .header__user--name {
    display: none;
  }

  .hero__title {
    font-size: var(--title);
  }

  .hero__button {
    font-size: initial;
  }

  .cta__content {
    display: block;
  }

  .cta__title {
    flex-direction: column;
  }

  .cta__title h2 {
    font-size: var(--little--subtitle);
    text-align: center;
    margin: 0;
  }

  .cta__button {
    width: 100%;
    display: inline-block;
    text-align: center;
    font-size: initial;
  }

  .welcome__options {
    grid-template-columns: auto;
  }

  .createEvent__form {
    width: 100%;
  }

  .chooseTemplate__options {
    grid-template-columns: auto;
  }

  .item__showcase img {
    width: 100%;
  }

  .myEvents__content,
  .organization__content,
  .collaborators__list,
  .collaborators__emails {
    flex-direction: column;
  }

  .collaborators__emails--item {
    margin: 0;
    margin-bottom: calc(var(--space) * 1);
    width: fit-content;
  }

  .myEvents__button {
    width: 100%;
  }

  .myEvents__cta,
  .collaborators__button {
    width: 100%;
    margin: calc(var(--space) * 2) 0;
  }

  .currentEvents__list {
    grid-template-columns: auto;
  }

  .item__event img {
    width: 100%;
  }

  .footer {
    height: auto;
  }

  .footer-content {
    flex-direction: column;
    padding: calc(var(--space) * 2) 0;
  }
}
