<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Event App Draft</title>
    <link rel="stylesheet" href="./css/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&family=Roboto+Slab:wght@100;300&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="header__content">
          <img class="header__logo" src="./img/logo.png" alt="EventAppDraft" />
          <nav class="header__nav">
            <ul>
              <li><a class="header__nav--item" href="#about">About</a></li>
              <li>
                <a class="header__nav--item" href="#toKnow">Things to know</a>
              </li>
              <li>
                <a class="header__nav--item" href="#people">People to see</a>
              </li>
              <li>
                <a class="header__nav--item" href="#schedule">Schedule</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <main class="main">
      <div class="container">
        <div class="main__info">
          <div class="main__details">
            <div class="main__details--date">
              <div class="details__title">When</div>
              <div class="details__date">
                <div class="date__month">August</div>
                <div class="date__days">
                  <span class="date__day--starts">29</span>
                  <span class="date__day--ends">31</span>
                </div>
                <div class="date__footer">
                  <span class="date__year">2020</span>
                  <span class="date__hour--starts">7:00 PM</span>
                  <span class="date__hour--ends">10:00 PM</span>
                </div>
              </div>
            </div>
            <div class="main__details--title">
              <div class="details__title--event">
                <h1>Event App Draft</h1>
              </div>
            </div>
            <div class="main__details--summary">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta
                deleniti velit ratione expedita nihil suscipit? Nisi at esse
                reiciendis aut accusamus. Illo quod iure animi eius vitae culpa
                quisquam et?
              </p>
            </div>
            <div class="main__details--cta">
              <a href="">Well c'mon</a>
            </div>
            <div class="main__details--location">
              <div class="location__city">Bogotá</div>
              <div class="location__street">Calle #72 Int 9 - 55</div>
              <span class="location__country">Bogotá</span>
              <span class="location__zipcode">81000</span>
            </div>
          </div>
          <div class="main__cover">
            <img
              src="https://images.unsplash.com/photo-1583195590841-926af5f7431e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=650&q=80"
              alt=""
            />
          </div>
        </div>
      </div>
    </main>
    <section id="about" class="about">
      <div class="container">
        <div class="about__info">
          <div class="about__cover">
            <img
              src="https://images.unsplash.com/photo-1461280360983-bd93eaa5051b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
              alt=""
            />
          </div>
          <div class="about__content">
            <div class="about__content--title">About</div>
            <h2>Why you should care</h2>
            <hr />
            <p>
              Introducing LifeSwap. An app that connects you to people who are
              willing to trade lives. For real.
            </p>
            <p>
              Ever wonder what it’d be like to be a music teacher in Nashville?
              A children’s book illustrator in Brooklyn? A human rights activist
              in DC?
            </p>
            <p>
              LifeSwap is a brand new company founded by a former Couchsurfing
              engineer and Facebook creative director. It takes the idea of
              authentic travel to a new (Freaky Friday-esque) level.
            </p>
            <p>
              It’s a social network that facilitates real LifeSwaps: you go to
              someone’s city, live in their home, hang with their friends and
              family, do their jobs, attend their events and activities. Yes,
              it’s totally intense… and it’s totally thrilling. Call us crazy,
              but we don’t think the best memories are made in the comfort zone.
            </p>
            <p>
              Come check us out at the party (and sign up for a LifeSwap account
              at one of our stations while you’re at it). Bottom line: it’s a
              startup launch. Good times will be had by all.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section id="toKnow" class="toKnow">
      <div class="container">
        <div class="toKnow__info">
          <div class="toKnow__alert">
            <div class="toKnow__alert--tag">Stay woke</div>
            <h3>Venue: Things to know</h3>
            <hr />
            <p>
              RSVP to make sure your name’s on the list. IDs will be checked at
              the door. Get there before the swag runs out. Parking is limited.
              But Austin has Uber! And we have an open bar :)
            </p>
          </div>
          <div class="toKnow__cover">
            <img
              src="https://media.giphy.com/media/g9582DNuQppxC/source.gif"
              alt=""
            />
            <p>Open bar y'all</p>
          </div>
          <div class="toKnow__location">
            <div class="location__city">Bogotá</div>
            <div class="location__street">Calle #72 Int 9 - 55</div>
            <span class="location__country">Bogotá</span>
            <span class="location__zipcode">81000</span>
            <div class="location--cta">
              <a href="">Rsvp Now</a>
            </div>
          </div>
        </div>
        <div class="toKnow__counter">
          <div class="toKnow__counter--days">
            <div class="days__number">6</div>
            <div class="days__text">Days</div>
          </div>
          <div class="toKnow__counter--separator">
            <hr />
          </div>
          <div class="toKnow__counter--hours">
            <div class="hours__number">1</div>
            <div class="hours__text">Hours</div>
          </div>
          <div class="toKnow__counter--title">
            <h3>Countdown</h3>
          </div>
          <div class="toKnow__counter--minutes">
            <div class="minutes__number">47</div>
            <div class="minutes__text">Minutes</div>
          </div>
          <div class="toKnow__counter--separator">
            <hr />
          </div>
          <div class="toKnow__counter--seconds">
            <div class="seconds__number">20</div>
            <div class="seconds__text">Seconds</div>
          </div>
        </div>
        <div class="toKnow__who">
          <h3 class="toKnow__who--title">Who's who?</h3>
          <hr>
          <p class="toKnow__who--description">For the past five years, we have scoured the U.S. to curate a best-in-class roster of speakers representing the hottest sectors, industries and disciplines.</p>
          <h2 class="toKnow__who--highlight">The program for this year's LifeSwap event is our best yet, if we do say so ourselves.</h2>
          <p class="toKnow__who--description">For three incredible days, you’ll have a front-row seat to unscripted fireside chats, hands-on workshops, interactive presentations, and engaging keynotes from fearless marketers who are pushing boundaries and setting new standards.</p>
        </div>
      </div>
    </section>
    <section id="people" class="people">
      <div class="container">
        <div class="people__list">
          <h2>People to see</h2>
          <hr>
          <div class="people__list--speaker">
            <div class="speaker__img">
              <img class="speaker__img--photo" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80" alt="">
            </div>
            <div class="speaker__name">
              <div class="speaker__name--title">Camila & Arjun</div>
              <div class="speaker__name--description">The head honchos will kick the night off with a toast. They’ll probably tell the hilarious story about how they thought up LifeSwap. And hopefully they’ll remember to tell you that everyone who attends the party is gets $100 in Airway Bed credit.</div>
            </div>
            <div class="speaker__position">
              <div class="speaker__position--title">Founders</div>
              <div class="speaker__position--company">LifeSwap</div>
            </div>
          </div>
          <div class="people__list--speaker">
            <div class="speaker__img">
              <img class="speaker__img--photo" src="https://images.unsplash.com/photo-1463453091185-61582044d556?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="">
            </div>
            <div class="speaker__name">
              <div class="speaker__name--title">Robison Frederick</div>
              <div class="speaker__name--description">One of the most fun ways to get a peek into another person’s life is to experience their city like a local would -- with a homebase in a their space. LifeSwap takes the fun of living how a stranger does one step further. We’ve teamed up withthe CTO of Airway Bed to give you a taste of what it’s like to step into someone else’s shoes. We can safely say that this is the best giveaway of any party around.</div>
            </div>
            <div class="speaker__position">
              <div class="speaker__position--title">CTO</div>
              <div class="speaker__position--company">Airway</div>
            </div>
          </div>
          <div class="people__list--speaker">
            <div class="speaker__img">
              <img class="speaker__img--photo" src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80" alt="">
            </div>
            <div class="speaker__name">
              <div class="speaker__name--title">Quinn the Irishman</div>
              <div class="speaker__name--description">Camila’s brother was the world’s worst DJ. His taste in music is awful. He once played the hokey pokey in the middle of a huge techno dance party. He thought it’d be funny. The only part he was good at was hyping up the crowd. So that’s what he does now.</div>
            </div>
            <div class="speaker__position">
              <div class="speaker__position--title">Event Mc</div>
              <div class="speaker__position--company">Ciaran, LLC</div>
            </div>
          </div>
          <div class="people__list--speaker">
            <div class="speaker__img">
              <img class="speaker__img--photo" src="https://images.unsplash.com/photo-1546593928-0e028d71af91?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="">
            </div>
            <div class="speaker__name">
              <div class="speaker__name--title">Dj Zeny</div>
              <div class="speaker__name--description">He’s a master at curating tunes that suit the mood. And the mood of this party will be a Good Mood. A Fun Mood. A Dancey Mood. Zeny’s going to kill it.</div>
            </div>
            <div class="speaker__position">
              <div class="speaker__position--title">Spin Doctor</div>
              <div class="speaker__position--company">@Djzeny</div>
            </div>
          </div>
          <div class="people__list--speaker">
            <div class="speaker__img">
              <img class="speaker__img--photo" src="https://images.unsplash.com/photo-1527477396000-e27163b481c2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=735&q=80" alt="">
            </div>
            <div class="speaker__name">
              <div class="speaker__name--title">Stiles Switch</div>
              <div class="speaker__name--description">Damn good Texas BBQ. Taste it once, and you’ll wish you could taste it every day forever and ever. We can vouch for that.</div>
            </div>
            <div class="speaker__position">
              <div class="speaker__position--title">Grub</div>
              <div class="speaker__position--company">@feedmestileswitch</div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
