@import url("https://fonts.googleapis.com/css2?Roboto:wght@100;300;400;700&family=Roboto+Slab:wght@100;300&display=swap");

:root {
  /* Typografy */
  --sans-serif: "Roboto", sans-serif;
  --serif: "Roboto Slab", serif;

  /* Colors */
  --primary: #232323;
  --secondary: #136758;
  --cta: #f9b6c6;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--sans-serif);
}

.container {
  display: inherit;
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
}

@media (max-width: 1024px) {
  .container {
    padding: 0 1em;
  }
}

@media (max-width: 768px) {
  .about__info {
    grid-template-rows: repeat(8, 1fr);
  }

  .about__cover {
    grid-row: 1 / span 2;
  }

  .about__content {
    grid-row: 2 / -1;
    padding: 40px 40px 40px 60px;
  }
}

@media (max-width: 425px) {
  .minimalistic__header {
    height: auto;
  }

  .minimalistic__header--nav {
    display: none;
  }

  .main__info {
    grid-template-columns: auto;
  }

  .main__details--date {
    width: auto;
  }

  .main__details--cta a {
    display: block;
    text-align: center;
  }

  .main__cover img {
    object-fit: cover;
    height: 400px;
  }

  .about__info {
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: 1em;
  }

  .about__content {
    grid-column: auto;
    grid-row: auto;
    padding: 1em;
    padding-bottom: 3em;
  }

  .about__cover {
    grid-column: auto;
    grid-row: auto;
  }

  .about__content h2 {
    margin: 0;
  }

  .schedule__info hr,
  .people__list hr,
  .sponsors__info hr {
    margin: 2em 0;
  }

  .toKnow__info {
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: 1em;
  }

  .toKnow__alert {
    grid-column: auto;
    grid-row: auto;
  }

  .toKnow__cover {
    grid-column: auto;
    grid-row: auto;
  }

  .toKnow__cover p {
    text-align: inherit;
  }

  .toKnow__location {
    grid-column: auto;
    grid-row: auto;
  }

  .location--cta a {
    display: block;
    padding: 1.5em;
    text-align: center;
  }

  .toKnow__counter {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 6% 0;
  }

  .toKnow__counter--separator {
    display: none;
  }

  .toKnow__counter--hours {
    grid-column: 2 / span 1;
  }

  .toKnow__counter--title {
    grid-column: 1 / span 2;
  }

  .toKnow__counter--minutes {
    grid-column: 1 / span 1;
  }

  .toKnow__counter--seconds {
    grid-column: 2 / span 1;
  }

  .toKnow__who {
    width: 100%;
  }

  .toKnow__who--highlight {
    font-size: 48px;
  }

  .people__list--speaker {
    grid-template-columns: auto;
  }

  .speaker__img {
    grid-column: auto;
  }

  .speaker__name {
    grid-column: auto;
  }

  .speaker__position {
    grid-column: auto;
  }

  .speaker__name--title {
    font-size: 32px;
  }

  .speaker__img--photo {
    width: 100%;
    height: 250px;
  }

  .schedule__list {
    grid-template-columns: auto;
    grid-gap: 1em;
  }

  .item__descriptions {
    padding: 0;
  }

  .sponsors__company {
    grid-template-columns: auto;
    grid-gap: 2em;
  }

  .minimal__footer {
    height: auto;
  }

  .minimal__footer--content {
    flex-direction: column;
    padding: 2em 0;
  }
}
