@import url("https://fonts.googleapis.com/css2?Roboto:wght@100;300;400;700&family=Roboto+Slab:wght@100;300&display=swap");

:root {
  /* Typografy */
  --sans-serif: "Roboto", sans-serif;
  --serif: "Roboto Slab", serif;

  /* Colors */
  --primary: #232323;
  --secondary: #136758;
  --cta: #f9b6c6;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--sans-serif);
}

.container {
  display: inherit;
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
}

@media (max-width: 1024px) {
  .container {
    padding: 0 1em;
  }
}

@media (max-width: 768px) {
  .minimalistic__about--info {
    grid-template-rows: repeat(8, 1fr);
  }

  .minimalistic__about--cover {
    grid-row: 1 / span 2;
  }

  .minimalistic__about--content {
    grid-row: 2 / -1;
    padding: 40px 40px 40px 60px;
  }
}

@media (max-width: 425px) {
  .minimalistic__header {
    height: auto;
  }

  .minimalistic__header--nav {
    display: none;
  }

  .minimalistic__main--info {
    grid-template-columns: auto;
  }

  .minimalistic__main--details-date {
    width: auto;
  }

  .minimalistic__main--details-cta a {
    display: block;
    text-align: center;
  }

  .minimalistic__main--cover img {
    object-fit: cover;
    height: 400px;
  }

  .minimalistic__about--info {
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: 1em;
  }

  .minimalistic__about--content {
    grid-column: auto;
    grid-row: auto;
    padding: 1em;
    padding-bottom: 3em;
  }

  .minimalistic__about--cover {
    grid-column: auto;
    grid-row: auto;
  }

  .minimalistic__about--content h2 {
    margin: 0;
  }

  .minimalistic__schedule--info hr,
  .minimalistic__people--list hr,
  .minimalistic__sponsors--info hr {
    margin: 2em 0;
  }

  .minimalistic__toKnow--info {
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: 1em;
  }

  .minimalistic__toKnow--alert {
    grid-column: auto;
    grid-row: auto;
  }

  .minimalistic__toKnow--cover {
    grid-column: auto;
    grid-row: auto;
  }

  .minimalistic__toKnow--cover p {
    text-align: inherit;
  }

  .minimalistic__toKnow--location {
    grid-column: auto;
    grid-row: auto;
  }

  .minimalistic__toKnow--location-cta a {
    display: block;
    padding: 1.5em;
    text-align: center;
  }

  .minimalistic__toKnow--counter {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 6% 0;
  }

  .minimalistic__toKnow--counter-separator {
    display: none;
  }

  .minimalistic__toKnow--counter-hours {
    grid-column: 2 / span 1;
  }

  .minimalistic__toKnow--counter-title {
    grid-column: 1 / span 2;
  }

  .minimalistic__toKnow--counter-minutes {
    grid-column: 1 / span 1;
  }

  .minimalistic__toKnow--counter-seconds {
    grid-column: 2 / span 1;
  }

  .minimalistic__people--speaker {
    grid-template-columns: auto;
  }

  .minimalistic__people--speaker-img {
    grid-column: auto;
  }

  .minimalistic__people--speaker-name {
    grid-column: auto;
  }

  .minimalistic__people--speaker-position {
    grid-column: auto;
  }

  .minimalistic__people--speaker-title {
    font-size: 32px;
  }

  .minimalistic__people--speaker-photo {
    width: 100%;
    height: 250px;
  }

  .minimalistic__schedule--list {
    grid-template-columns: auto;
    grid-gap: 1em;
  }

  .minimalistic__schedule--descriptions {
    padding: 0;
  }

  .minimalistic__sponsors--company {
    grid-template-columns: auto;
    grid-gap: 2em;
  }
}
