.minimalistic__main {
  padding-top: 6%;
  padding-bottom: 6%;
}

.minimalistic__main--info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2em;
}

.minimalistic__main--details-top {
  width: 230px;
  border: 3px solid var(--primary-minimalistic);
  box-sizing: border-box;
}

.minimalistic__main--details-title {
  position: absolute;
  background-color: var(--primary-minimalistic);
  padding: 1em;
  font-size: 12px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 100;
}

.minimalistic__main--details-date {
  padding: 1em;
  margin-top: 80px;
}

.minimalistic__main--date-month,
.minimalistic__main--date-footer {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 300;
}

.minimalistic__main--date-day {
  margin: 16px 0;
  font-size: 64px;
  font-weight: 600;
  letter-spacing: -5px;
}

.minimalistic__main--date-dayEnds:before {
  content: "/";
  margin-right: 10px;
}

.minimalistic__main--date-hourEnds:before {
  content: "To";
  margin-right: 5px;
}

.minimalistic__main--detaills-title {
  border-right: 3px solid var(--secondary-minimalistic);
  border-bottom: 3px solid var(--secondary-minimalistic);
  margin-top: 6%;
}

.minimalistic__main--title {
  padding: 1em;
  border: 3px solid var(--primary-minimalistic);
  margin-right: 5px;
  margin-bottom: 5px;
}

.minimalistic__main--title h1 {
  text-transform: uppercase;
  margin: 0;
  color: var(--secondary-minimalistic);
  font-size: 64px;
  letter-spacing: -1px;
}

.minimalistic__main--details-summary {
  margin: 6% 0;
  font-family: "Roboto Slab", serif;
  font-size: 14px;
  font-weight: 100;
  width: 67%;
  line-height: 1.6;
  letter-spacing: 1px;
}

.minimalistic__main--details-cta a {
  background-color: var(--cta-minimalistic);
  color: var(--primary-minimalistic);
  padding: 1.5em 6em;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  display: inline-block;
}

.minimalistic__main--details-cta a:hover {
  background-color: var(--secondary-minimalistic);
  color: white;
}

.minimalistic__main--details-location {
  margin: 2em 0;
  font-family: "Roboto Slab", serif;
  font-size: 14px;
  font-weight: 100;
  line-height: 1.6;
  letter-spacing: 1px;
}

.minimalistic__main--cover {
  overflow: hidden;
}

.minimalistic__main--cover img {
  filter: grayscale(1);
  min-width: 100%;
  min-height: 100%;
}
