.schedule {
  padding: 6% 0;
}

.schedule__info h2 {
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 1px;
}

.schedule__info hr {
  width: 80px;
  margin: 3% 0;
  border-top: 1px solid var(--primary);
}

.schedule__list {
  display: grid;
  grid-template-columns: 230px 60%;
  grid-gap: 3em;
  margin-bottom: 3em;
}

.schedule__item {
  position: relative;
  border: 3px solid var(--primary);
}

.schedule__item--weekDay {
  position: absolute;
  background-color: var(--primary);
  padding: 1em;
  font-size: 12px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 100;
}

.schedule__item--date {
  padding: 1em;
  margin-top: 80px;
}

.item__descriptions {
  padding: 1em;
}

.item__descriptions h3 {
  font-size: 2em;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0;
}

.item__descriptions--details p {
  font-family: var(--serif);
  font-weight: 300;
  line-height: 1.6;
  letter-spacing: 1px;
  font-size: 12px;
}
