.minimalistic__schedule {
  padding: 6% 0;
}

.minimalistic__schedule--info h2 {
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 1px;
}

.minimalistic__schedule--info hr {
  width: 80px;
  margin: 3% 0;
  border-top: 1px solid var(--primary);
}

.minimalistic__schedule--list {
  display: grid;
  grid-template-columns: 230px 60%;
  grid-gap: 3em;
  margin-bottom: 3em;
}

.minimalistic__schedule--item {
  position: relative;
  border: 3px solid var(--primary);
}

.minimalistic__schedule--item-weekDay {
  position: absolute;
  background-color: var(--primary);
  padding: 1em;
  font-size: 12px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 100;
}

.minimalistic__schedule--item-date {
  padding: 1em;
  margin-top: 80px;
}

.minimalistic__schedule--date-day {
  margin: 16px 0;
  font-size: 64px;
  font-weight: 600;
  letter-spacing: -5px;
}

.minimalistic__schedule--date-month,
.minimalistic__schedule--date-footer {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 300;
}

.minimalistic__schedule--descriptions {
  padding: 1em;
}

.minimalistic__schedule--descriptions h3 {
  font-size: 2em;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0;
}

.minimalistic__schedule--descriptions-details p {
  font-family: var(--serif);
  font-weight: 300;
  line-height: 1.6;
  letter-spacing: 1px;
  font-size: 12px;
}
