.minimalistic__toKnow {
  background-color: var(--secondary);
  color: white;
  padding: 3% 0;
}

.minimalistic__toKnow--info {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(7, 1fr);
}

.minimalistic__toKnow--alert {
  grid-column: 1 / span 7;
  grid-row: 1 / span 4;
  position: relative;
  border: 3px solid white;
  padding: 10%;
}

.minimalistic__toKnow--alert-tag {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: white;
  color: var(--secondary);
}

.minimalistic__toKnow--alert h3 {
  text-transform: uppercase;
  font-size: 1.5em;
  letter-spacing: 1px;
}

.minimalistic__toKnow--alert hr {
  width: 80px;
  margin: 6% 0;
  border-top: 3px solid white;
}

.minimalistic__toKnow--alert p {
  font-family: var(--serif);
  font-size: 14px;
  font-weight: 100;
  line-height: 1.6;
  letter-spacing: 1px;
}

.minimalistic__toKnow--cover {
  grid-column: 7 / -1;
  grid-row: 4 / -1;
}

.minimalistic__toKnow--cover img {
  width: 100%;
}

.minimalistic__toKnow--cover p {
  text-align: right;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 2px;
}

.minimalistic__toKnow--location {
  grid-column: 1 / span 6;
  grid-row: 6 / -1;
  font-family: "Roboto Slab", serif;
  font-size: 14px;
  font-weight: 100;
  line-height: 1.6;
  letter-spacing: 1px;
}

.minimalistic__toKnow--location-cta a {
  background-color: white;
  color: var(--primary);
  font-family: var(--sans-serif);
  margin-top: 2em;
  padding: 1.5em 6em;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  display: inline-block;
}

.minimalistic__toKnow--location-cta a:hover {
  background-color: var(--secondary);
  color: white;
  border-top: 3px solid;
  border-bottom: 3px solid;
}

.minimalistic__toKnow--counter {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  margin: 6% 0;
}

.minimalistic__toKnow--counter-days {
  grid-column: 1 / span 1;
  justify-self: center;
  align-self: center;
  text-align: center;
}

.minimalistic__toKnow--counter-hours {
  grid-column: 3 / span 1;
  justify-self: center;
  align-self: center;
  text-align: center;
}

.minimalistic__toKnow--counter-title {
  grid-column: 4 / span 3;
  justify-self: center;
  align-self: center;
  text-align: center;
}

.minimalistic__toKnow--counter-minutes {
  grid-column: 7 / span 1;
  justify-self: center;
  align-self: center;
  text-align: center;
}

.minimalistic__toKnow--counter-seconds {
  grid-column: 9 / span 1;
  justify-self: center;
  align-self: center;
  text-align: center;
}

.minimalistic__toKnow--days-number,
.minimalistic__toKnow--hours-number,
.minimalistic__toKnow--minutes-number,
.minimalistic__toKnow--seconds-number {
  font-size: 80px;
  font-weight: 600;
}

.minimalistic__toKnow--days-text,
.minimalistic__toKnow--hours-text,
.minimalistic__toKnow--minutes-text,
.minimalistic__toKnow--seconds-text {
  font-weight: 100;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
}

.minimalistic__toKnow--counter-title h3 {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.minimalistic__toKnow--counter-separator {
  position: relative;
}

.minimalistic__toKnow--counter-separator hr {
  position: absolute;
  width: 100%;
  top: 35%;
}
