.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__container {
  position: relative;
  top: 5rem;
  background-color: #fcfaff;
  padding: calc(var(--space) * 5);
  border-radius: 7px;
  width: 600px;
}

.modal__content h3 {
  font-size: var(--featured-text);
  color: var(--purple);
  font-weight: 400;
  text-align: center;
  border-bottom: 1px solid var(--background-cta);
  margin: 0 0 1em;
  padding-bottom: calc(var(--space) * 2);
}

.modal__content label {
  color: var(--purple);
  font-size: var(--small-text);
}

.modal__content input {
  width: 100%;
  border-radius: 7px;
  border: 1px solid #c1c7ff;
  padding: 1em;
  margin-bottom: 2em;
  outline: none;
}

.modal__content button {
  background-color: var(--yellow);
  color: var(--purple);
  border: 0px;
  border-radius: 12px;
  width: 300px;
  height: 40px;
  margin: 0 auto;
  font-size: 16px;
  display: block;
  box-shadow: var(--shadow);
}

.modal__close--button {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  background-color: var(--yellow);
  padding: 0.5rem 1rem;
  margin: 0.5rem 0.5rem 0 0;
}
