:root {
  /* Colors: */
  --purple: #53297c;
  --white: #ffffff;
  --yellow: #ffbf00;
  --orange: #f17e12;
  --blue: #353d8c;
  --red: #e1353a;
  --orange-secondary: #ed6a0f;
  --gray: #b7b4b4;
  --positive: #3bc74a;
  --negative: #ee1b1b;
  --black: #171517;
  --background-cta: #eee9f2;

  /* Typography */
  --font-family: 'Red Hat Display', sans-serif;
  --xl: 56px;
  --title: 48px;
  --subtitle: 40px;
  --little--subtitle: 32px;
  --featured-text: 24px;
  --small-text: 12px;

  --line-spacing: 22.5px;

  /* Space units */
  --space: 10px;

  /* Shadows */
  --shadow: 0px 3px 6px #00000029;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

.container {
  display: inherit;
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
}

/* Header */

.header {
  display: flex;
  background-color: var(--purple);
  height: 70px;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header__logo {
  width: 200px;
}

.header__nav ul {
  display: flex;
  list-style: none;
}

.header__nav a {
  color: white;
  text-decoration: none;
}

.header__nav a.highlight {
  background-color: var(--yellow);
  padding: 0.625em 1.6875em;
  border-radius: 0.5em;
  color: var(--purple);
}

.header__nav a.highlight:hover {
  background-color: var(--red);
  color: var(--white);
}

li.header__nav--item a {
  margin-right: 1.25em;
}

/* Landing page */

.hero {
  background-image: url('https://youreventapp.s3-us-west-1.amazonaws.com/cover.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: calc(100vh - 70px);
  min-height: 550px;
}

.hero__content {
  display: flex;
  flex-direction: column;
  width: 30em;
  align-self: center;
}

.hero__title {
  font-size: var(--xl);
  color: white;
  line-height: 1.25;
  margin: 0 0 1em;
  text-shadow: 3px 3px 8px #00000094;
}

.hero__subtitle {
  font-size: var(--little--subtitle);
  color: white;
  line-height: 1.25;
  margin: 0 0 1em;
}

.hero__button {
  background-color: var(--yellow);
  font-size: var(--featured-text);
  padding: 0.625em 2.25em;
  border-radius: 0.5em;
  text-decoration: none;
}

.cta {
  height: 350px;
  display: flex;
  align-items: center;
  background-color: var(--background-cta);
}

.cta__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.cta__title {
  display: flex;
  align-items: center;
}

.cta__title h2 {
  font-size: var(--subtitle);
  color: var(--blue);
  font-weight: 400;
}

.cta__title--icon {
  width: 100px;
  margin-right: 1em;
}

.cta__button {
  background-color: var(--yellow);
  font-size: 1.5em;
  padding: 0.625em 1.125em;
  border-radius: 0.5em;
  text-decoration: none;
}

/* Login page */

.login {
  display: flex;
  /* height: calc(100vh - 170px); */
}

.login__content {
  display: flex;
  flex-direction: column;
  width: 380px;
  margin: 0 auto 80px;
}

.login__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: calc(var(--space) * 4) 0;
}

.login__logo {
  width: 200px;
}

.login__title {
  font-size: var(--featured-text);
  color: var(--blue);
  font-weight: 300;
  text-align: center;
  margin: 0;
}

.login__form {
  background: #fcfaff;
  padding: calc(var(--space) * 2);
  border-radius: 1em;
  box-shadow: var(--shadow);
  margin-bottom: 36px;
}

.login__form--picture {
  width: 126px;
  height: 126px;
  border-radius: 63px;
  position: relative;
  background-color: white;
  margin: 0 auto;
  margin-bottom: -3em;
  box-shadow: var(--shadow);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login__form--picture img {
  width: 54px;
  position: absolute;
}

.login__form--add {
  width: 36px;
  height: 36px;
  color: var(--orange);
  position: absolute;
  font-size: 24px;
  bottom: 0;
  right: 0;
  background-color: white;
  border-radius: 18px;
  border: 0;
  line-height: 1;
  box-shadow: var(--shadow);
}

.login__form--fields {
  background-color: white;
  padding: calc(var(--space) * 2);
  padding-top: calc(var(--space) * 5);
  border: 1px solid #c1c7ff;
  border-radius: 1em;
}

.login__field--email {
  margin-bottom: calc(var(--space) * 3);
}

.login__field--password {
  margin-bottom: calc(var(--space) * 2);
}

.login__form--input,
.login__form--button {
  width: 100%;
  padding: 0.75em;
}

.login__form--input {
  border: 1px solid #c1c7ff;
  border-radius: 7px;
}

.login__form--button {
  background-color: var(--yellow);
  border: 0;
  box-shadow: var(--shadow);
  color: var(--purple);
  border-radius: 7px;
}

.login__footer {
  text-align: center;
}

.login__footer a {
  font-weight: 600;
  text-decoration: none;
}

/* SignUp page */

.welcome {
  display: flex;
  /* height: calc(100vh - 170px); */
}

.welcome__content {
  display: flex;
  flex-direction: column;
  margin: 0 auto 80px;
}

.welcome__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: calc(var(--space) * 4) 0;
}

.welcome__logo {
  width: 200px;
}

.welcome__title {
  font-size: var(--featured-text);
  color: var(--blue);
  font-weight: 300;
  text-align: center;
  margin: 0;
}

.welcome__options {
  display: grid;
  grid-template-columns: 300px 300px;
  grid-template-rows: 350px;
  grid-gap: calc(var(--space) * 10);
  color: var(--purple);
  font-size: var(--featured-text);
}

.welcome__options--item {
  background: #fcfaff;
  display: flex;
  flex-direction: column;
  padding: calc(var(--space)*3) calc(var(--space)*5);
  border-radius: 16px;
  box-shadow: var(--shadow);
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.welcome__options--item a {
  color: var(--purple);
  font-size: var(--featured-text);
  text-decoration: none;
}

.welcome__options--item img {
  width: 150px;
}

/* Footer */

.footer {
  display: flex;
  background-color: var(--blue);
  height: 100px;
}

.footer__logo {
  width: 180px;
}

.footer-content {
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

@media (max-width: 1024px) {
  .container {
    padding: 0 1em;
  }
}

@media (max-width: 425px) {
  .header__nav {
    display: none;
  }
}
