<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Event App Draft</title>
    <link rel="stylesheet" href="./css/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Mada:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <main class="hero">
      <div class="hero__cover">
        <div class="container">
          <div class="hero__content">
            <div class="hero__info">
              <img
                class="hero__logo"
                src="https://d24wuq6o951i2g.cloudfront.net/img/events/id/213/2136839/assets/c3f.f52.mobilead_logo-copy.png"
                alt=""
              />
              <h1 class="hero__title">
                Event App Draft
              </h1>
              <div class="hero__details--location">
                <div class="location__icon">
                  <img
                    src="https://d24wuq6o951i2g.cloudfront.net/img/events/id/213/2136839/assets/b48.map.png"
                    alt=""
                  />
                </div>
                <div class="location__city">Bogotá</div>
                <div class="location__street">Calle #72 Int 9 - 55</div>
                <div class="location__country">Bogotá</div>
                <div class="location__zipcode">81000</div>
              </div>
              <div class="main__details--date">
                <div class="date__icon">
                  <img
                    src="https://d24wuq6o951i2g.cloudfront.net/img/events/id/213/2136839/assets/f38.time.png"
                    alt=""
                  />
                </div>
                <div class="date__starts">Friday, August 28</div>
                <div class="date__ends">Sunday, August 30</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
