<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Event App Draft</title>
    <link rel="stylesheet" href="./css/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Mada:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <main class="hero">
      <div class="hero__cover">
        <div class="container">
          <div class="hero__content">
            <div class="hero__info">
              <img
                class="hero__logo"
                src="https://d24wuq6o951i2g.cloudfront.net/img/events/id/213/2136839/assets/c3f.f52.mobilead_logo-copy.png"
                alt=""
              />
              <h1 class="hero__title">
                Event App Draft
              </h1>
              <div class="hero__details--location">
                <div class="location__icon">
                  <img
                    src="https://d24wuq6o951i2g.cloudfront.net/img/events/id/213/2136839/assets/b48.map.png"
                    alt=""
                  />
                </div>
                <div class="location__place">
                  Bogotá Calle #72 Int 9 - 55 Bogotá 81000
                </div>
              </div>
              <div class="main__details--date">
                <div class="date__icon">
                  <img
                    src="https://d24wuq6o951i2g.cloudfront.net/img/events/id/213/2136839/assets/f38.time.png"
                    alt=""
                  />
                </div>
                <div class="date__starts">
                  Friday, August 28 Sunday, August 30
                </div>
              </div>
              <div class="main__details--cta">
                <a href="/">Sign me up</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <section class="summary">
      <div class="container">
        <h2 class="summary__title">
          The mobile advertising revolution is here.
        </h2>
        <div class="summary__content">
          <p>
            This year, 3DAYS hit the road to educate every media buyer in
            America about how mobile is changing everything – from how we shop,
            to how we eat, to how we learn.
          </p>
          <p>
            So far, we’ve spread the good word in New York City, DC,
            Philadelphia and Boston. And now we’re coming to you, Atlanta.
          </p>
          <p>
            Join us for a day of killer keynotes, presentations and networking
            with peers and industry leaders who are shaking up the mobile
            advertising game. We’ve carefully crafted an incredible lineup of
            presenters who are prepared to arm you with new strategies, insights
            and know-how to take your mobile game to the next level.
          </p>
        </div>
      </div>
    </section>
    <section id="speakers" class="speakers">
      <div class="container">
        <h2 class="speakers__title">Speakers</h2>
        <div class="speakers__list">
          <div class="speakers__list--item">
            <div class="speakers__list--img">
              <img
                class="speakers__list--photo"
                src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt=""
              />
            </div>
            <hr />
            <div class="speakers__list--name">Jerry Zen</div>
            <div class="speakers__list--position">CEO, 3DAYS</div>
            <div class="speakers__list--description">
              Zen is a pioneer in the field of mobile advertising. 3DAYS is the
              5th company that has achieved a Fortune 500 ranking under his
              guidance.
            </div>
          </div>
          <div class="speakers__list--item">
            <div class="speakers__list--img">
              <img
                class="speakers__list--photo"
                src="https://images.unsplash.com/photo-1542103749-8ef59b94f47e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt=""
              />
            </div>
            <hr />
            <div class="speakers__list--name">Kate Welsh</div>
            <div class="speakers__list--position">VP of Sales, 3DAYS</div>
            <div class="speakers__list--description">
              With a decade of leadership experience at 3DAYS, Welsh oversees
              sales, operations, growth initiatives and strategic alliances.
            </div>
          </div>
          <div class="speakers__list--item">
            <div class="speakers__list--img">
              <img
                class="speakers__list--photo"
                src="https://images.unsplash.com/photo-1544723795-3fb6469f5b39?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=635&q=80"
                alt=""
              />
            </div>
            <hr />
            <div class="speakers__list--name">Sarah Chen</div>
            <div class="speakers__list--position">CEO, AdTank</div>
            <div class="speakers__list--description">
              Chen is founder and CEO of AdTank, a digital advertising think
              tank that partners with brands to unlock consumer markets through
              marketing.
            </div>
          </div>
          <div class="speakers__list--item">
            <div class="speakers__list--img">
              <img
                class="speakers__list--photo"
                src="https://images.unsplash.com/photo-1544005313-94ddf0286df2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80"
                alt=""
              />
            </div>
            <hr />
            <div class="speakers__list--name">Jenny Grace</div>
            <div class="speakers__list--position">Founder, Target Tween</div>
            <div class="speakers__list--description">
              Target Tween specializes in trend forecasting and marketing
              strategies for the tween and teen demographics.
            </div>
          </div>
          <div class="speakers__list--item">
            <div class="speakers__list--img">
              <img
                class="speakers__list--photo"
                src="https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt=""
              />
            </div>
            <hr />
            <div class="speakers__list--name">Charlie Gaudenzi</div>
            <div class="speakers__list--position">
              Mobile Analyst, Mobile Arts
            </div>
            <div class="speakers__list--description">
              Mobile Arts conducts quantitative and qualitative research on
              mobile habits, market trends, and user needs across the globe.
            </div>
          </div>
          <div class="speakers__list--item">
            <div class="speakers__list--img">
              <img
                class="speakers__list--photo"
                src="https://images.unsplash.com/photo-1552058544-f2b08422138a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=644&q=80"
                alt=""
              />
            </div>
            <hr />
            <div class="speakers__list--name">Vee Nguyen</div>
            <div class="speakers__list--position">
              Editor, Ad Market Magazine
            </div>
            <div class="speakers__list--description">
              Nguyen covers mobile news and trends for Ad Market Magazine. Her
              work has also appeared in The New York Times, and Wired.com.
            </div>
          </div>
          <div class="speakers__list--item">
            <div class="speakers__list--img">
              <img
                class="speakers__list--photo"
                src="https://images.unsplash.com/photo-1554151228-14d9def656e4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=633&q=80"
                alt=""
              />
            </div>
            <hr />
            <div class="speakers__list--name">Amit Sands</div>
            <div class="speakers__list--position">
              Digital Director, Power Haus
            </div>
            <div class="speakers__list--description">
              Sands heads up a world-class team of 120, and leads digital
              capability and integration for a suite of 50+ corporate clients.
            </div>
          </div>
          <div class="speakers__list--item">
            <div class="speakers__list--img">
              <img
                class="speakers__list--photo"
                src="https://images.unsplash.com/photo-1491349174775-aaafddd81942?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80"
                alt=""
              />
            </div>
            <hr />
            <div class="speakers__list--name">Forest Bello</div>
            <div class="speakers__list--position">
              VP, Digital Media, Clicker
            </div>
            <div class="speakers__list--description">
              As VP of Digital Media at Clicker, Bello crafts innovative and
              creative solutions for the digital space, specializing in minority
              consumers.
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="schedule" class="schedule">
      <div class="container">
        <h2 class="schedule__title">Schedule</h2>
        <div class="schedule__list">
          <div class="schedule__list--item">
            <div class="schedule__item--hour">9:30 – 10:15 AM</div>
            <div class="schedule__item--topic">
              Panel: "Tapping Into Niche Audiences"
            </div>
            <div class="schedule__item--speaker">
              Zee Nguyen – Ad Market Magazine (Moderator). Forest Bello – VP,
              Digital Media, Clicker
            </div>
          </div>
          <div class="schedule__list--item">
            <div class="schedule__item--hour">9:30 – 10:15 AM</div>
            <div class="schedule__item--topic">
              Panel: "Tapping Into Niche Audiences"
            </div>
            <div class="schedule__item--speaker">
              Zee Nguyen – Ad Market Magazine (Moderator). Forest Bello – VP,
              Digital Media, Clicker
            </div>
          </div>
          <div class="schedule__list--item">
            <div class="schedule__item--hour">9:30 – 10:15 AM</div>
            <div class="schedule__item--topic">
              Panel: "Tapping Into Niche Audiences"
            </div>
            <div class="schedule__item--speaker">
              Zee Nguyen – Ad Market Magazine (Moderator). Forest Bello – VP,
              Digital Media, Clicker
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="partners">
      <div class="container">
        <h2 class="partners__title">About our partners</h2>
        <div class="partners__description">
          <p>
            The Georgia Center Hotel has proudly served Atlanta's corporate
            needs for over 25 years. With 10 ballrooms, an expansive media
            center, multi-media technology and an in-house production staff, The
            Georgia Center excels in creating memorable special events.
          </p>
          <p>
            The Peach Tree is renowned for its healthy preperations of decadent
            Southern classics. Winner of two Eat Up Awards and a leader in
            farm-to-table cuisine, The Peach Tree offers casual-chic dining in
            the heart of Atlanta.
          </p>
        </div>
        <div class="partners__logo">
          <div class="logo__item">
            <img
              class="logo__item--img"
              src="http://d24wuq6o951i2g.cloudfront.net/img/events/id/213/2136839/assets/909.Logo-5-01.png"
              alt=""
            />
          </div>
          <div class="logo__item">
            <img
              class="logo__item--img"
              src="http://d24wuq6o951i2g.cloudfront.net/img/events/id/213/2136839/assets/909.Logo-5-01.png"
              alt=""
            />
          </div>
          <div class="logo__item">
            <img
              class="logo__item--img"
              src="http://d24wuq6o951i2g.cloudfront.net/img/events/id/213/2136839/assets/909.Logo-5-01.png"
              alt=""
            />
          </div>
          <div class="logo__item">
            <img
              class="logo__item--img"
              src="http://d24wuq6o951i2g.cloudfront.net/img/events/id/213/2136839/assets/909.Logo-5-01.png"
              alt=""
            />
          </div>
        </div>
      </div>
    </section>
    <section class="about">
      <div class="about__content">
        <h2 class="about__title">About 3DAYS</h2>
        <div class="about__description">
          <p>
            A Fortune 500 company, 3DAYS sets the platinum standard for
            engaging, media-rich mobile ads. With award-winning campaigns in
            video, interactive and animated content and partnerships with
            top-tier creative agencies across the globe, 3DAYS dominates the
            mobile ad solutions field and delivers effective, cost-effective
            solutions.
          </p>
        </div>
      </div>
      <div class="about__cover">
        <img
          class="about__cover--img"
          src="https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1952&q=80"
          alt=""
        />
      </div>
    </section>
    <section class="cta">
      <div class="container">
        <div class="cta__info">
          <h3>Sign up & share</h3>
          <a href="/">Sign me up</a>
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="container">
        <div class="footer-content">
          <img
            class="footer__logo"
            src="../../assets/img/team_logo_white.png"
            alt="Code Warriors"
          />
          <div class="footer__description">
            <span>Made with 💚 from Platzi Master | 2020</span>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
