.header {
  display: flex;
  background-color: var(--purple);
  height: 70px;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header__logo {
  width: 200px;
}

.header__nav ul {
  display: flex;
  list-style: none;
}

.header__nav a {
  color: white;
  text-decoration: none;
}

.header__nav a.highlight {
  background-color: var(--yellow);
  padding: 0.625em 1.6875em;
  border-radius: 0.5em;
  color: var(--purple);
}

.header__nav a.highlight:hover {
  background-color: var(--red);
  color: var(--white);
}

li.header__nav--item a {
  margin-right: 1.25em;
}

@media (max-width: 425px) {
  .header__nav {
    display: none;
  }
}
