/* SignUp page */

.welcome {
  display: flex;
  height: calc(100vh - 170px);
}

.welcome__content {
  display: flex;
  flex-direction: column;
  margin: 0 auto 80px;
}

.welcome__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: calc(var(--space) * 4) 0;
}

.welcome__logo {
  width: 200px;
}

.welcome__title {
  font-size: var(--featured-text);
  color: var(--blue);
  font-weight: 300;
  text-align: center;
  margin: 0;
}

.welcome__options {
  display: grid;
  grid-template-columns: 300px 300px;
  grid-template-rows: 350px;
  grid-gap: calc(var(--space) * 10);
  color: var(--purple);
  font-size: var(--featured-text);
}

.welcome__options--item {
  background: #fcfaff;
  display: flex;
  flex-direction: column;
  padding: calc(var(--space) * 3) calc(var(--space) * 5);
  border-radius: 16px;
  box-shadow: var(--shadow);
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.welcome__options--item a {
  color: var(--purple);
  font-size: var(--featured-text);
}

.welcome__options--item img {
  width: 150px;
}

.welcome__options--item a > p {
  text-decoration: none;
}
